<p id="notice"><%= notice %></p>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th></th>
      <th>ts</th>
      <th>text</th>
      <th>user</th>
    </tr>
  </thead>

  <tbody>
  <%= form_tag('/delete_chats', :method => :post) do %>
    <%= submit_tag '選択削除', :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    <% @channel_history.messages.each do |history| %>
      <tr>
        <td><%= check_box 'history', history.ts, {}, true, false %></td>
        <td><%= history.ts %></td>
        <td><%= history.text %></td>
        <td><%= history.user %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</div>